<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%- title %></title>
  <link rel="stylesheet" href="./assets/style/all.css">
</head>

<body>
  <div class="header">
    <h1 class="header-logo"><a href="#">glasses</a></h1>
    <div class="navbar">            
        <ul class="navbar-menu">
            <li><a href="#" class="db">系列鏡框</a></li>
            <li><a href="store-base.html" class="db">門市據點</a></li>
            <li><a href="#" class="db">部落格</a></li>
            <li><a href="feq.html" class="db">常見問題</a></li>
        </ul>
    </div>
</div>

  <%- contents %>

  <div class="footer">
    <div class="container">
        <div class="df">
                <ul class="menu">
                    <li><a href="#" class="db">首頁</a></li>
                    <li><a href="#" class="db">系列鏡框</a></li>
                    <li><a href="#" class="db">門市據點</a></li>
                    <li><a href="#" class="db">部落格</a></li>
                    <li><a href="#" class="db">常見問題</a></li>
                </ul>
                    <ul class="icon-menu">
                        <li>
                            <a href="#"><img  class="icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-fb.svg" alt="fb"></a>
                        </li>
                        <li>
                            <a href="#"><img  class="icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-ig.svg" alt="ig"></a>
                        </li>
                        <li>
                            <a href="#"><img  class="icon" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-line.svg" alt="line"></a>
                        </li>
                    </ul>
            </div>
            <div class="information">
                <ul>
                    <li>
                        <img class="phone" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-phone.svg" alt="phone">
                        <a href="tel:+0800000000" class="db">0800-000-000</a></a>
                    </li>
                    <li>
                        <img class="mail" src="https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-mail.svg" alt="mail">
                        <a href="mailto:glasses@business.com" class="db">glasses@business.com</a>
                    </li>
                </ul> 
            </div>
            <div class="trademark">
                <ul class="trademark-item">
                    <li class="mb-8">Copyright © 2020 Glasses.All rights reserved.</li>
                    <div class="trademark-list">
                        <li class="mb-8">隱私權政策</li>
                        <li>服務條款</li>
                    </div>
                </ul>
            </div>
    </div>
</div>
  <script src="./assets/js/vendors.js"></script>
  <script src="./assets/js/all.js"></script>
</body>

</html>
