.problem{
    padding: 96px 0 160px;

    .common-problem{
        font-size: $font-size-48;  
        line-height: 80px;
        font-weight: bold;
        border-left: 8px solid $color-red;
        padding-left: 16px;
    }

    .ask-problem{
        font-size: $font-size-32;
        line-height: $line-height-63;
        font-weight: bold;
        padding: 60px 0 36px;
    }

    .question{
        font-size: $font-size-20;
        line-height: 23px;
        font-weight: bold;
        padding-bottom: 16px;
    }

    p{
        font-size: $font-size-16;
        line-height: 24px;
        padding:0 0 32px 96px;
        word-break: break-word;
    }
}







