$font-family-base: "Noto Sans" , sans-serif;

//color
$color-primary: #AA0601;
$color-red: #9F1213;
$color-white: #FFFFFF;
$color-black: #000000;
$color-gray: #495057;
$color-gray-white: #CED4DA;
$color-Transparent-black: #00000020;

//文字大小
 $font-size-base: 16px;
 $font-size-14: $font-size-base - 2;
 $font-size-16: $font-size-base * 1;
 $font-size-18: $font-size-base * 1.125; 
 $font-size-20: $font-size-base * 1.25;
 $font-size-24: $font-size-base * 1.5;
 $font-size-32: $font-size-base * 2;
 $font-size-36: $font-size-base * 2.25;
 $font-size-48: $font-size-base * 3;
 
 //文字行高
 $line-height: 3px;
 $line-height-21: $line-height * 7;
 $line-height-24: $line-height * 8;
 $line-height-30: $line-height * 10;
 $line-height-36: $line-height * 12;
 $line-height-54: $line-height * 18;
 $line-height-63: $line-height * 21;